body{
    background-color: #c1c1c1;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #c5c5c5;
    display: flex;
    z-index: 99;
    /* border-bottom: 2px #32b7cb solid; */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

nav div a {
    display: inline-block;
    color: rgb(46, 46, 46);
    margin-right: 40px;
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
}

nav div a:hover{
    color: #32b7cb;
}

.logo img {
    width: 150px;
    height: auto;
    margin-right: 40px;
}

/* Navegação à direita */
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
    padding-right: 20px;
}

.nav-right .premium-btn {
    background-color: #32b7cb;
    color: #232323;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 1.0s;
}

.nav-right .premium-btn:hover {
    background-color: #32b7cb;
}




.config_container {
    height: auto; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 50px; 
}


.config_title{
    font-weight: bold;
    font-size: 20px;
    color: #b60009;
    margin: 120px 0 20px 0;
}

.configcont{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.configopt{
    background-color: #969696;
    height: 65vh;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    width: 200px;
    border-radius: 5px;
}

.cadaopt{
    text-align: justify;
    padding: 20px;

}

.cadaopt:hover{
    background-color: #606060;
    cursor: pointer;
}

.configopt h2{
    text-align: start !important;
    font-size: 21px;
    color: #2b2b2b;
    transition: color 0.5s;
}

.configopt h2:hover{
    color: #32b7cb;
    cursor: pointer;
}

.cadaopt.active{
    background-color: #606060;

}

.configopt h2.active {
    color: #32b7cb;
    /* text-decoration: underline; */
}


.configswitch{
    background-color: #969696;
    height: 65vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    /* padding: 30px; */
    text-align: start;
    border-radius: 5px;
    padding: 40px 0 0 40px;
}

.switchop{
    margin-bottom: 35px;
}

.switchop h3{
    color: #2b2b2b;
    font-size: 23px;
    margin-bottom: 10px;

}

.configcont p{
    color: #2b2b2b;
    font-size: 17px;

}


    .switch {
      position: relative;
      display: inline-block;
      width: 70px;
      height: 30px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #4c4c4c;
      border-radius: 34px;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 3px;
      bottom: 3px;
      background-color: #b60009; /* Verde quando desligado */
      transition: .4s;
      border-radius: 50%;
    }

    input:checked + .slider {
      background-color: #b60009; /* Verde */
    }

    input:checked + .slider:before {
      transform: translateX(40px); /* 70 - 24 (largura da bolinha) - 6 (margens) */
      background-color: rgb(19, 19, 19); /* Fica escura quando ligado */
    }


.myaccount h3{
    color: #b60009; 
    font-size: 23px;
    font-weight: bold;
}

.myaccount p{
    color: #232323; 
    margin: 15px 0 15px 0;
    font-size: 19px;
}

.myaccount span{
    color: #b60009;
}

.myaccount h4{
    color: #232323; 
    margin: 40px 0 0 0;
}

.privalayout{
  max-height: 400px; 
  overflow-y: auto;
  padding-right: 10px; 
}

.privalayout h3{
    color: #232323; 
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.privalayout li{
    color: #232323;
    margin: 7px 0 7px 7px;
}

html {
    font-size: 16px; /* Base = 1rem */
}

.configcont p {
    font-size: 1.0625rem; /* 17px */
}

html.enlarged-font {
    font-size: calc(100% + 4px); /* Aumenta tudo em 2px */
}



